body {
    background-color:black;
    font-family:arial;
    color:white;
    
}
h1 {
    color:gray;
    font-style: verdana;
}

.maindiv {
    background-color:white;
    color:black;
    width: 400px;   /*this is adjusted*/
    padding: 20px;
    border-radius: 25px;
    box-align: center;
}

.highlight
{
    background-color: yellow;
}

.table td {
    padding-bottom: 10px;
}

.table {
    margin-left: 40px;
}